<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="content">
  <h1 class="title">Stealth Card Possibilities</h1>
<div class="information">i</div>
<p class="subtitle">Enter the amount of power the opponent spent on the stealth unit (Add back any cost reductions) and the influence the opponent has.</p>

<form method="POST" class="form-style">
  {{ form.hidden_tag() }}
  <div class="form-component"> {{ form.unit_cost() }}</div>
  <div class="form-component"> {{ form.fire() }}</div>
  <div class="form-component"> {{ form.time() }}</div>
  <div class="form-component"> {{ form.justice() }}</div>
  <div class="form-component"> {{ form.primal() }}</div>
  <div class="form-component"> {{ form.shadow() }}</div>
  <div class="form-component"><a class="button1">{{ form.search() }}</a></div>
</form>
<div class="card-box">
  {% if img_list%}
  {% for card in img_list %}
      <img src={{ card }} class ="stealthImage" alt="Stealthy">
  {% endfor %}
{% endif %}
</div>


</div>


</body>
</html>